<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
</head>
<body>
Game is started!
<p th:text="${field1}"/>
<p th:text="${field2}"/>
<p th:text="${field3}"/>
<p th:text="${winner}"/>
<p th:text="${isDraw}"/>

<br/>
<br/>
Enter 2 numbers from 1 to 3 in the "step" field and the symbol "X" or "0" in the "symbol" field!
<form action="/gameplay/players/game/">
    <label>Step: </label>
    <input name="step">
    <label>Symbol: </label>
    <input name="symbol">
    <button>Send</button>
</form>
</body>
</html>